<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lifestyleapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vegBreakfastRecipe6"></activity>
        <activity android:name=".vegBreakfastRecipe5" />
        <activity android:name=".vegBreakfastRecipe4" />
        <activity android:name=".vegBreakfastRecipe3" />
        <activity android:name=".vegBreakfastRecipe2" />
        <activity android:name=".VegBreakfastRecipe1" />
        <activity android:name=".vegetarianSmoothie7" />
        <activity android:name=".vegetarianSmoothie6" />
        <activity android:name=".vegetarianSmoothie5" />
        <activity android:name=".vegetarianSmoothie4" />
        <activity android:name=".vegetarianSmoothie3" />
        <activity android:name=".vegetarianSmoothie2" />
        <activity android:name=".vegetarianSmoothie1" />
        <activity android:name=".vegetarianDessertRecipes" />
        <activity android:name=".veganDessertRecipes" />
        <activity android:name=".standardDessertRecipes" />
        <activity android:name=".veganDinnerRecipes" />
        <activity android:name=".vegetarianDinnerRecipes" />
        <activity android:name=".standardDinnerRecipes" />
        <activity android:name=".vegetarianLunchRecipes" />
        <activity android:name=".veganLunchRecipes" />
        <activity android:name=".standardLunchRecipes" />
        <activity android:name=".vegetarianBreakfastRecipes" />
        <activity android:name=".veganBreakfastRecipes" />
        <activity android:name=".standardBreakfastRecipes" />
        <activity android:name=".vegetarianSmoothies" />
        <activity android:name=".veganSmoothies" />
        <activity android:name=".standardSmoothies" />
        <activity android:name=".standardMealTypeSelection" />
        <activity android:name=".veganMealTypeSelection" />
        <activity android:name=".vegetarianMealTypeSelection" />
        <activity android:name=".discountWebsites" />
        <activity android:name=".storeWebsites" />
        <activity android:name=".shoppingSelectFeature" />
        <activity android:name=".selectBlogType" />
        <activity android:name=".fitnessBlogs" />
        <activity android:name=".healthyLifeStyleBlogs" />
        <activity android:name=".yakiNoodles" />
        <activity android:name=".Rigatoni" />
        <activity android:name=".courgettiRecipe" />
        <activity android:name=".pastaSalad" />
        <activity android:name=".seedySalad" />
        <activity android:name=".spicyLentilBurgers" />
        <activity android:name=".veganMixedBerryPancakes" />
        <activity android:name=".tofuCurry" />
        <activity android:name=".GazpachoSauceSpaghettiRecipe" />
        <activity android:name=".avocadoOnToast" />
        <activity android:name=".standardRecipes" />
        <activity android:name=".vegan" />
        <activity android:name=".vegetarian" />
        <activity android:name=".AddShoppingList" />
        <activity android:name=".ShoppingLists" />
        <activity android:name=".Share" />
        <activity android:name=".Statistics" />
        <activity android:name=".recipeTypeSection" />
        <activity android:name=".PriceCheck" />
        <activity android:name=".recipeShoppingList" />
        <activity android:name=".Message" />
        <activity android:name=".EditProfile" />
        <activity android:name=".MainHub" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>